<h1>Planets</h1>

<%= form_for @planet do |f| %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>

  <%= link_to "destroy planet", planet_path(@planet), :method => :delete %>
  
<% end %>
