<h1><%= @planet.name %></h1>
<%= @planet.date %></br>
<%= @planet.location %></br>
<%= @planet.description %></br>
<%= @planet.life_forms %></br>

<%= link_to "All Planets", planets_path %> |
<%= link_to "Edit", edit_planet_path(@planet) %>
